@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

#background {
  position: absolute;
  top: 50vh;
  left: 50%;
  box-sizing: border-box;
  width: 50px;
  left: -50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  overflow: hidden;
  z-index: -10;
}

#main {
  opacity: 0;
}

* {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
  color: #1f6f99;
  font-size: 62.5%;
}

.particles-js {
  width: 100%;
  height: 1000px;
}

.particles-js-canvas-el {
  opacity: 1;
  z-index: -9;
  position: fixed;
}

body {
  background-color: #c4a9a9;
}

main {
  position: absolute;
  display: flex;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 30px 0px;
}

nav h1 {
  padding-left: 5%;
  color: #1f6f99;
  font-weight: 400;
  font-size: 2.1rem;
  line-height: 38px;
  margin-right: auto;
}

nav ul {
  margin-left: auto;
}

nav li {
  display: inline-block;
  margin-left: 25px;
  width: 10%;
  min-width: 75px;
  height: 40px;
  font-size: 2.1rem;
  line-height: 38px;
}

nav button {
  padding: 0px 0px 2px 0px;
  width: 75px;
  color: white;
  border: none;
  border-radius: 11px 16px;
  background-color: #fcb3b1;
}

nav li:hover {
  cursor: pointer;
}

nav button:hover {
  cursor: pointer;
}

main {
  display: grid;
}

.intro {
  height: 100px;
}

@media screen and (min-width: 601px) {
  #mission {
    width: 100%;
    color: #1f6f99;
    font-weight: 700;
    font-size: 6rem;
    text-align: center;
  }
  #quick-register {
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
    min-width: 330px;
    max-width: 330px;
    min-height: 500px;
  }
  .nav-bar {
    display: none;
  }
}


@media screen and (max-width: 600px) {
  #mission {
    width: 100%;
    color: #1f6f99;
    font-weight: 700;
    font-size: 5rem;
    text-align: center;
  }
  #quick-register {
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
    min-width: 330px;
    max-width: 330px;
    min-height: 500px;
  }
  nav {
    display: flex;
    flex-direction: column;
  }
  .nav-bar {
    position: fixed;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-left: 380px;
    padding-bottom: 7px;
  }
  .line {
    width: 30px;
    height: 4px;
    background-color: #fcb3b1;
    margin: 4px;
  }
  nav h1 {
    padding-right: 10%;
    font-size: 2.7rem;
  }
  nav ul {
    position: fixed;
    z-index: -10;
    top: 50px;
    display: none;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
  nav li {
    width: 100%;
    font-size: 3rem;
    margin: 50px auto;
  }
  nav li button {
    padding-left: 7px;
    width: 100px;
    display: flex;
    margin: 0px auto;
    height: 45px;
    font-size: 3rem;
  }
}






#register-background {
  opacity: 0.5;
  border-radius: 5%;
  background-color: #fcb3b1;
  width: 100%;
  height: inherit;
}

.quick-register-form {
  width: 100%;
  font-size: 2.1rem;
}

.quick-register-form input[id="firstName"], input[id="lastName"] {
  box-sizing: border-box;
  padding: 15px 15px;
  margin: 10px 2%;
  width: 45%;
  min-height: 40px;
  border-radius: 10px;
  border: none;
  opacity: 0.8;
}

.quick-register-form input[id="email"] {
  box-sizing: border-box;
  margin: 15px 10%;
  padding: 15px 15px;
  width: 80%;
  min-height: 40px;
  border-radius: 10px;
  border: none;
  opacity: 0.8;
}

.quick-register-form input[type="submit"] {
  box-sizing: border-box;
  margin: 15px 37.5%;
  width: 25%;
  border-radius: 4px;
  border: none;
}



/*FOOTER*/
footer {
  display: inline-flex;
  width: 100vw;
}

.socials {
  display: inline-flex;
  width: 20vw;
  min-width: 200px;
  margin: 25px auto 0px auto;
  justify-content: space-around;
}

.icon {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  height: 80px;
  max-width: 80px;
  max-height: 80px;
}

.social-icon {
  box-sizing: border-box;
  width: 44px;
  height: 44px;
  margin: 0px auto;
}

.icon h3 {
  text-align: center;
  color: #1f6f99;
  font-size: 2.1rem;
}
